/* CSS Document */

/* BODY */

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}

/* HEADER */

.header {
  overflow: hidden;
  background-color: 202020;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: rgb(223, 223, 223);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.header a:hover {
  background-color: #FFDF6C;
  color: black;
}

.header a.active {
  background-color: #FFDF6C;
  color: black;
}

.header-right {
  float: right;
}

/* SLOGAN */

.slogan {
	overflow: hidden;
	background-color: #3F3F3F;
	color: rgb(156, 156, 156);
	padding: 20px 10px;
	text-align: center;
	line-height: 50px;
}

.button {
		background-color: #FFDF6C;
		border: none;
		color: black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 4px;
}

/* MEDIA */

.media {
  width: auto;
  height: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #707070;
  text-align: center; 	
  align-items: stretch;
}
  
.media2 {
	height: 80px;
 	width: auto;
 	padding: 200px 100px;
}

/* PHOTOS */

.photos {
  width: auto;
  height: 500px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #FFFFFF;
}
.a{
	text-align: center; 
	grid-column: 1 / span 4;
	padding-top: 40px;
}

img{
	padding: 10px;
}
/* TABLE */

.table1 {
	padding: 10px;
	background-color: #707070 ;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  background-color: #707070 ;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

/* DM */

.dm{
	padding: 40px;
  	text-align: center;
 	margin: 0 auto;
	background-color:#3F3F3F;
	color:rgb(156, 156, 156);
	
}
	

/* FOOTER */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #202020;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #969696;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-end {
	color: #bbbbbb 
}